.alert-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-dialog {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.alert-dialog-input {
    width: 571px;
    margin-bottom: 28px;
}

.dialog-title {
    width: 288px;
    margin-left: 0;
    margin-bottom: 45.14px;
}

.dialog-message {
font-size: 24px;
line-height: 29px;
text-align: left;
margin-bottom: 21px;
}

.alert-dialog-save-button {
    background: rgb(0, 0, 0);
    color: rgb(242, 242, 242);
    width: 290px;
    margin-bottom: 18px;
}

.alert-dialog-cancel-button {
    background: rgb(217, 217, 217);
    width: 290px;
    margin-bottom: 18px;
}