.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc; 
}

.header-title {
    margin: 0; 
}

.header-right {
    color: #333; 
}