:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: left;
  width: 1920px;
  height: 1080px;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15; /* Устанавливаем базовую высоту строки */
  -webkit-text-size-adjust: 100%; /* Предотвращаем изменение размера текста на мобильных устройствах */
}

h1, h2, h3, h4, h5, h6 {
  font-size: 36px; /* Устанавливаем размер шрифта заголовков равным родительскому */
  font-weight: inherit; /* Устанавливаем вес шрифта заголовков равным родительскому */
  margin: 0;
}

ul, ol {
  list-style: none; /* Убираем маркеры списков */
}

a {
  text-decoration: none; /* Убираем подчеркивание у ссылок */
  color: inherit; /* Устанавливаем цвет ссылок равным цвету текста */
}

img {
  max-width: 100%; /* Устанавливаем максимальную ширину изображений */
  height: auto; /* Устанавливаем автоматическую высоту для изображений */
}

table {
  border-collapse: collapse; /* Убираем пробелы между ячейками таблицы */
  width: 100%; /* Устанавливаем ширину таблицы равной 100% */
}

button, input, textarea {
  font-family: inherit; /* Устанавливаем шрифт элементов ввода равным родительскому */
  font-size: inherit; /* Устанавливаем размер шрифта элементов ввода равным родительскому */
  font-weight: inherit; /* Устанавливаем вес шрифта элементов ввода равным родительскому */
}